    <section class="container">
        <div class="my-5">

            <h1 class="text-center pt-5">INOVUS SCRAPBOOK</h1>
            <h6 class="text-center text-muted pt-1 pb-5">A daily diary for Inovus Fellows to scribble about their
                self-learning endeavors.</h6>

            <div class="row" data-masonry='{"percentPosition": true }'>

                {{#each scraps}}
                <div class="col-md-3 my-3">
                    <div class="card">

                        <div class="card-header">
                            <div class="row my-3 align-items-center">
                                <div class="col-md-auto">
                                    <img src="https://cdn.discordapp.com/avatars/{{this.user.id}}/{{this.user.avatar}}.png"
                                        style="border-radius: 50%; height: 50px; width=auto;" alt="">
                                </div>

                                <div class="col-md-auto">
                                    <a target="blank" href="https://discordapp.com/users/{{this.user.id}}">
                                        <h6 style="margin: 0px;">{{this.user.name}}</h6>
                                    </a>
                                    <small class="text-muted">{{this.ago}}</small>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <p class="card-text">{{this.content}}</p>
                        </div>

                        {{#if this.isImage}}
                        <img src="{{this.attachment.url}}" class="p-2" alt="...">
                        {{else if this.isVideo}}
                        <video class="p-2" controls autoplay>
                            <source src="{{this.attachment.url}}" type="video/mp4">
                        </video>
                        {{/if}}

                        <div class="card-footer">
                            <div class="row my-3">
                                <div class="col">
                                    <button class="btn btn-primary py-2" onclick="LikesUpdater( '{{this._id}}' )">
                                        <span id={{this._id}} class="badge">{{this.likesCount}}</span> Like
                                    </button>
                                </div>
                                <div class="col">
                                    <a target="blank" href="/scrap/{{this._id}}" class="btn btn-primary py-2">Share</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}

            </div>
    </section>

    <script>
        
        var visitorId;

        (async () => {
            await import('https://openfpcdn.io/fingerprintjs/v3')
            .then(FingerprintJS => FingerprintJS.load())
            .then(fp => fp.get())
            .then(result => {
                visitorId = result.visitorId;
                localStorage.setItem('visitorId', visitorId);

                // send visitorId to server
                fetch('/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        visitorId: visitorId
                    })
                })
                // console.log(visitorId)
            })
            .catch(err => console.log(err))
        })();


        function LikesUpdater(id) {
            $.ajax({
                url: '/scrap/:id/like',
                type: 'POST',
                data: {
                    id: id,
                    visitorId: visitorId,
                },
                success: (response) => {
                    if (response <= 0) {
                        $('#' + id).remove();
                        location.reload();
                    } else {
                        $('#' + id).text(response);
                    }
                }
            });
        }
    </script>