    <section class="container">
        <div class="my-5">

            <div class="row" data-masonry='{"percentPosition": true }'>

                {{#each scraps}}
                <div class="col-md-3 my-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="row my-3">
                                <div class="col-md-3">
                                    <img src="https://cdn.discordapp.com/avatars/{{this.user.id}}/{{this.user.avatar}}.png"
                                        style="border-radius: 50%; height: 50px; width=auto;" alt="">
                                </div>

                                <div class="col-md-auto">
                                    <h6 style="margin: 0px;">{{this.user.name}}</h6>
                                    <small class="text-muted">Thu, Mar 24</small>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <p class="card-text">{{this.content}}</p>
                        </div>
                        <img src="{{this.attachment.url}}" class="p-2" alt="...">
                        {{!-- <iframe src="{{this.attachment.url}}" allowfullscreen class="p-2"></iframe> --}}
                        <div class="card-footer">
                            <div class="row my-3">
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-primary" style="width: 100%;">Like</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="#" class="btn btn-primary" style="width: 100%;">Share</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}

            </div>
    </section>