    <section class="container">
        <div class="my-5">

            <h1 class="text-center pt-5">INOVUS SCRAPBOOK</h1>
            <h6 class="text-center text-muted pt-1 pb-5">A daily diary for Inovus Fellows to scribble about their
                self-learning endeavors.</h6>

            <div class="row" data-masonry='{"percentPosition": true }'>

                {{#each scraps}}
                <div class="col-md-3 my-3">
                    <div class="card">
                        
                        <div class="card-header">
                            <div class="row my-3 align-items-center">
                                <div class="col-md-auto">
                                    <img src="https://cdn.discordapp.com/avatars/{{this.user.id}}/{{this.user.avatar}}.png"
                                        style="border-radius: 50%; height: 50px; width=auto;" alt="">
                                </div>

                                <div class="col-md-auto">
                                    <a target="blank" href="https://discordapp.com/users/{{this.user.id}}">
                                        <h6 style="margin: 0px;">{{this.user.name}}</h6>
                                    </a>
                                    <small class="text-muted">{{this.ago}}</small>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <p class="card-text">{{this.content}}</p>
                        </div>

                        {{#if this.isImage}}
                            <img src="{{this.attachment.url}}" class="p-2" alt="...">
                        {{else if this.isVideo}}
                            <video class="p-2" controls autoplay>
                                <source src="{{this.attachment.url}}" type="video/mp4">
                            </video>
                        {{/if}}
                        
                        <div class="card-footer">
                            <div class="row my-3">
                                <div class="col">
                                    <a href="#" class="btn btn-primary py-2">Like</a>
                                </div>
                                <div class="col">
                                    <a target="blank" href="{{process.env.BASE_URL}}/scrap/{{this._id}}" class="btn btn-primary py-2">Share</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}

            </div>
    </section>