    <section class="container">
        <div class="my-5">

            {{!-- <h1 class="text-center pt-5">INOVUS SCRAPBOOK</h1>
            <h6 class="text-center text-muted pt-1 pb-5">A daily diary for Inovus Fellows to scribble about their
                self-learning endeavors.</h6> --}}

            {{#with scrap}}
            <div class="col-md-3 my-3">
                <div class="card">
                    <div class="card-header">
                        <div class="row my-3">
                            <div class="col-md-3">
                                <img src="https://cdn.discordapp.com/avatars/{{this.user.id}}/{{this.user.avatar}}.png"
                                    style="border-radius: 50%; height: 50px; width=auto;" alt="">
                            </div>

                            <div class="col-md-auto">
                                <a target="blank" href="https://discordapp.com/users/{{this.user.id}}">
                                    <h6 style="margin: 0px;">{{this.user.name}}</h6>
                                </a>
                                <small class="text-muted">{{this.ago}}</small>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <p class="card-text">{{this.content}}</p>
                    </div>

                    {{#if this.isImage}}
                    <img src="{{this.attachment.url}}" class="p-2" alt="...">
                    {{else if this.isVideo}}
                    <video class="p-2" controls autoplay>
                        <source src="{{this.attachment.url}}" type="video/mp4">
                    </video>
                    {{/if}}

                    <div class="card-footer">
                        <div class="row my-3">
                            <div class="col-md-12 pb-2">
                                <button type="button" class="btn btn-primary py-2">Download Scrap</button>
                            </div>
                            <div class="col-md-12 pt-2">
                                <button type="button" class="btn btn-primary py-2" onclick="copyToClipboard()">Copy link to Clipboard</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/with}}

    </section>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        async function copyToClipboard() {
            try {
                await navigator.clipboard.writeText(location.href);
                Swal.fire({
                    toast: true,
                    position: 'top-right',
                    iconColor: 'white',
                    customClass: {
                        popup: 'colored-toast'
                    },
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    icon: 'success',
                    title: 'Copied to Clipboard'

                });

            } catch (err) {

                Swal.fire({
                    toast: true,
                    position: 'top-right',
                    iconColor: 'white',
                    customClass: {
                        popup: 'colored-toast'
                    },
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    icon: 'error',
                    title: 'Failed to Copy to Clipboard'

                });
                console.error('Failed to copy: ', err);
            }
        }
    </script>